.login-form {
    display: flex;
    flex-direction: column;    
    width: 250px;
}
.maunen{
    min-height: 50vh;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius:15px;
}
.chinhsua{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("../img/NEN.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#passwork, #username, a, button {
    margin: 5px;
    font-family: "Arial";
}
h5 {
    font-family: "Arial";
    font-size: medium;
    margin: -3px;
}